<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.Mapper.bookMapper">

    <insert id="addbook" parameterType="book_info">
       insert into library.book_info (name,author,publish,ISBN,introduction,language,price,pub_date,class_id,number) values(#{name},#{author},#{publish},#{ISBN},#{introduction},#{language},#{price},#{pub_date},#{class_id},#{number})
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete
        from library.book_info
        where book_id = #{book_id};
    </delete>
    
    <update id="updateBook" parameterType="book_info">
        update library.book_info
        set name = #{name},author=#{author},publish=#{publish},ISBN=#{ISBN},introduction=#{introduction},language=#{language},price=#{price},pub_date=#{pub_date},class_id=#{class_id},number=#{number}
        where bookID=#{bookID}
    </update>
    
    <select id="queryBookById" parameterType="int" resultType="book_info">
        select * from library.book_info where book_id = #{book_id}
    </select>

    <select id="queryAllBook" resultType="book_info" >
        select * from library.book_info
    </select>
</mapper>