<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--scan service-->
    <context:component-scan base-package="com.hu.service"/>

    <!--service class added into Spring-->
    <bean id="BooksServicelmpl" class="com.hu.service.BookServicelmpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>

    <bean id="adminServicelmpl" class="com.hu.service.adminServicelmpl">
        <property name="adminMapper" ref="adminMapper"/>
    </bean>

    <bean id="userServicelmpl" class="com.hu.service.userServicelmpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <!--Declare thing configuration-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--add data source-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--aop-->

</beans>